* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Global Styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

/* Changelog */

.header-changelog {
  margin-bottom: 1.5rem;
}

.header-changelog h1 {
  margin-bottom: 1.2rem;
}

.changelog {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px 10px #0002;
  padding: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  border: 2px solid #000;
}

.timeline {
  margin: 0 auto;
}

.timeline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.timeline-date {
  color: #bbb;
  font-size: 14px;
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.timeline-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}


.timeline-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 5rem;
  background-color: black;
}

.timeline-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 5rem;
  background-color: black;
}
.timeline-dot:hover {
  background-color: #555;
  transform: scale(1.5); 
  z-index: 2;
}

.timeline-content {
  flex: 2;
  text-align: left;
  font-size: 16px;
  color: #333;
}

/* boton */

footer {
  margin-top: 3rem;
}

button a {
  text-decoration: none;
  color: white;
}

.btn-visit {
  background-color: #222222;
  padding: 12px 25px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.btn-visit:hover {
  background-color: #555;
}
